extends ../views/form/default-confirmation-form

block append formContent
	+formElement({
		type: "agentTaskSubmitResult",
		format: "html",
		loadingText: "Vänligen vänta..."
	})

	+formGroup([{
		width: 'col-md-1',
		type: "link",
		button: true,
		value: "Startsidan",
		url: "/"
	}])
