extends ../views/form/default-confirmation-form

block append formContent

    style.
        @import url("http://onify.xeb.se:3000/css/feedback_public.css");

    br
    center
      img(src='http://onify.xeb.se:3000/images/bravida_logo_cmyk_neg.png')

    h3 Har just detta ärende varit ett återkommande problem för dig?