extends ../views/form/default-confirmation-form

br

block append formContent

    style.
        @import url("http://onify.xeb.se:3000/css/feedback_public.css");

    br

    center
      h3 Tack för att du hjälper oss bli bättre!
      p Bravida IT Service Desk
      
    br