extends ../views/form/default-confirmation-form

style.
    @import url("https://onify.corp.bravida.com/css/public_feedback_form.css");

block formContent

    h3 Har just detta ärende varit ett återkommande problem för dig?