extends ../views/form/default-confirmation-form

block append formContent

    style.
        @import url("http://onify.xeb.se:3000/css/feedback_public.css");
        body
          margin-top: 50px;

    br

    h3 Har just detta ärende varit ett återkommande problem för dig?