extends ../views/form/default-confirmation-form

br
    center
      img(src="https://onify.corp.bravida.com/images/bravida_logo_cmyk_neg.png")

block formContent

    h3 Har just detta ärende varit ett återkommande problem för dig?