extends ../views/form/default-confirmation-form

    style.
        @import url("https://onify.corp.bravida.com/css/public_feedback_form.css");

    br
    center
      img(src="https://onify.corp.bravida.com/images/bravida_logo_cmyk_neg.png")

block formContent

    h3 Tack