extends ../views/form/default-form

block append formConfig
	+formOptions({
		submitButtonName: "Skicka in återkoppling"
	})
	
	-var ticket = (form.queryparam.ticket) ? form.queryparam.action : "Saknas"
	-var category = (form.queryparam.category) ? form.queryparam.category : "Saknas"
	-var user = (form.queryparam.user) ? form.queryparam.user : "Saknas"

block formContent

	p Ticket #{ticket}
	p Category #{category}
	p User #{user}