extends ../views/form/default-form

block append formConfig
    +formOptions({
        submitButtonName: "Skicka in återkoppling",
        hideBackButton: true
    })

    -var ticket = (form.queryparam.ticket) ? form.queryparam.ticket : "Saknas"
    -var category = (form.queryparam.category) ? form.queryparam.category : "Saknas"
    -var user = (form.queryparam.user) ? form.queryparam.user : "Saknas"

block formContent

    +formElement({
    type: 'radio',
    name: 'op0',
    label: 'Har just detta ärende varit ett återkommande problem för dig?',
    required: true,
    selected: 'Nej',
    options: [
        {
            value: 'Ja',
            label: 'Ja'
        },
        {
            value: 'Nej',
            label: 'Nej'
        }
        ]
    })

    +formElement({
        type: "textarea",
        name: "reason",
        label: "Övrig kommentar?",
        required: {
            ifField: "op0",
            hasValue: "Nej"
        },
        visible: {
        ifField: "op0",
        hasValue: "Ja"
    }
    })

    hr

    +formElement({
    type: 'radio',
    name: 'op1',
    label: 'Hur nöjd är du med lösningen på ditt ärende?',
    required: true,
    options: [
        {
            value: '1',
            label: '1'
        },
        {
            value: '2',
            label: '2'
        },
        {
            value: '3',
            label: '3'
        },
        {
            value: '4',
            label: '4'
        },
        {
            value: '5',
            label: '5'
        }
        ]
    })