extends ../views/form/default-form

block append formConfig
    +formOptions({
        submitButtonName: "Skicka in återkoppling",
        hideBackButton: true
    })

    -var ticket = (form.queryparam.ticket) ? form.queryparam.ticket : "Saknas"
    -var category = (form.queryparam.category) ? form.queryparam.category : "Saknas"
    -var user = (form.queryparam.user) ? form.queryparam.user : "Saknas"

    style.
        @import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
        body {
        background-color: #086494 !important;
        font-family: "Roboto Condensed", sans-serif !important;
        }
        label {
        font-family: "Roboto Condensed", sans-serif !important;
        font-size: 19px !important;
        font-weight: 100;
        line-height: 25px !important;
        }
        .header {
        display: none !important;
        }
        .form-content {
        margin: 0 !important;
        }
        .container {
        width: 750px !important;
        }
        .form-container {
        padding: 30px 30px 0px 30px !important;
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
        background: white;
        border-radius: 5px;
        }
        .title-content {
        display: none;
        }
        h3 {
        font-family: "Roboto Condensed", sans-serif !important;
        font-size: 25px !important;
        font-weight: 700;
        text-decoration: underline #eeeeee;
        }
        button {
        font-family: "Roboto Condensed", sans-serif !important;
        font-size: 20px !important;
        }
        .btn-primary {
        background-color: #086494 !important;
        width: 100% !important;
        text-align: center !important;
        padding: 12px !important;
        }
        .radio-toolbar input[type="radio"]:focus + label {
        border: 2px dashed #444;
        cursor: default;
        }
        .radio-toolbar label:hover {
        background-color: #dfd;
        cursor: pointer;
        }
        .radio-toolbar input[type="radio"]:checked + label {
        background-color: #bfb;
        border-color: #4c4;
        }
        .radio-toolbar input[type="radio"] {
        opacity: 0;
        position: fixed;
        width: 0;
        }
        .radio-toolbar label {
        display: inline-block;
        background-color: #f0f0f0;
        padding: 10px 30px !important;
        font-family: sans-serif, Arial;
        font-size: 16px;
        border: 2px solid #c7c7c7;
        border-radius: 4px;
        margin-top: 10px !important;
        }
        .radio-toolbar > .radio-inline {
        text-align: center;
        width: unset !important;
        padding: unset !important;
        margin: unset !important;
        }


    br
    center
      img(src='http://onify.xeb.se:3000/css/bravida_logo_cmyk_neg.png')

block formContent

    h3 Har just detta ärende varit ett återkommande problem för dig?

    +formElement({
    type: 'radio',
    name: 'op0',
    required: true,
    class: 'radio-toolbar',
    options: [
        {
            value: 'Ja',
            label: 'Ja'
        },
        {
            value: 'Nej',
            label: 'Nej'
        }
        ]
    })

    +formElement({
        type: "textarea",
        name: "reason",
        label: "Övrig kommentar?",
        visible: {
            ifField: "op0",
            hasValue: "Ja"
    }
    })

    hr

    h3 Hur nöjd är du med lösningen på ditt ärende?

    +formElement({
    type: 'radio',
    name: 'op1',
    required: true,
    class: 'radio-toolbar',
    options: [
        {
            label: '★ 1',
            value: '1'
        },
        {
            label: '★ 2',
            value: '2'
        },
        {
            label: '★ 3',
            value: '3'
        },
        {
            label: '★ 4',
            value: '4'
        },
        {
            label: '★ 5',
            value: '5'
        }
        ]
    })

    hr

    h3 Hur skulle du bedöma bemötandet under ärendets gång?

    +formElement({
    type: 'radio',
    name: 'op2',
    required: true,
    class: 'radio-toolbar',
    options: [
        {
            label: '♥ 1',
            value: '1',
        },
        {
            label: '♥ 2',
            value: '2'
        },
        {
            label: '♥ 3',
            value: '3'
        },
        {
            label: '♥ 4',
            value: '4'
        },
        {
            label: '♥ 5',
            value: '5'
        }
        ]
    })
    
    +formElement({
        type: "textarea",
        name: "reason",
        label: "Övrig kommentar?"
    })
    
    hr