extends ../views/form/default-confirmation-form

block append formContent

    style.
        @import url("http://onify.xeb.se:3000/css/feedback_public.css");
        .row {
        margin-top: 40px;
        }

    br

    center
      h3 Tack för att du hjälper oss bli bättre!
      p Mvh <br /> Bravida IT Service Desk
      
    br