extends ../views/form/default-confirmation-form
  style.
    @import url("http://onify.xeb.se:3000/css/feedback_public.css");
block append formContent

    h3 Har just detta ärende varit ett återkommande problem för dig?